:root {
    --purple: #A729F5;
    --dark-gray: #313E51;
    --gray: #3B4D66;
    --light-gray:  #626C7F;

    --blueish:   #ABC1E1;
    --off-white: #F4F6FA;
    --white: #FFFFFF;
    --green: #26D782;
    --red:#EE5454
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: var(--off-white);
}
body{
    font-family: "Rubik", sans-serif;
    color: var(--green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hidden {
    display: none;
}
.active {
    display: block;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
